.gradle
/build/*
/classes/*
/out/*
!gradle/wrapper/gradle-wrapper.jar
/load-tests/*.log
/load-tests/*.jtl
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
*.log
v4*
v4/*
jgiven-reports/*
target/*


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

